.footer {
    background-color: #161414;
    color: #fff;
    padding: 3em;
    text-align: center;
    display: flex;
    height: 25vh;
    justify-content: space-between;
}

.footer_frase{
    font-size: 20px;
    padding-top: 50px;
}

.spfc_mundial img {
    width: 200px;
    height: auto;
}